.srd-diagram {
	position: relative;
	flex-grow: 1;
	display: flex;
	cursor: move;
	overflow: hidden;
	height: 800px;
	background-color: rgb(0,50,0);
}
.srd-diagram .point {
	fill: rgba(255, 255, 255, 0.5);
}
.srd-diagram .point.selected {
	fill: #00c0ff;
}
.srd-diagram .selector {
	position: absolute;
	background-color: rgba(0, 192, 255, 0.2);
	border: solid 2px #00c0ff;
}
.srd-diagram svg {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-origin: 0 0;
	overflow: visible;
}
.srd-diagram .srd-node-layer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	pointer-events: none;
	transform-origin: 0 0;
}
.srd-diagram .srd-node {
	position: absolute;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	user-select: none;
	cursor: move;
	pointer-events: all;
}
.srd-diagram .srd-node--selected > * {
	border-color: #00c0ff !important;
	-webkit-filter: drop-shadow(0 0 20px rgba(0, 192, 255, 0.5));
}
@keyframes dash {
	from {
		stroke-dashoffset: 24;
	}
	to {
		stroke-dashoffset: 0;
	}
}
.srd-diagram path {
	fill: none;
	pointer-events: all;
}
.srd-diagram path.selected {
	stroke: #00c0ff !important;
	stroke-dasharray: 10, 2;
	animation: dash 1s linear infinite;
}
.srd-diagram .port {
	position: relative;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}
.srd-diagram .port:hover,
.srd-diagram .port.selected {
	background-color: #2196F3;
}
.srd-diagram .srd-default-node {
	background-color: #1e1e1e;
	border-radius: 0px;
	font-family: Arial;
	color: white;
	border: solid 2px black;
	overflow: visible;
	font-size: 11px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.srd-diagram .srd-default-node__title {
	/*			background-image: linear-gradient(rgba(black,0.1),rgba(black,0.2));*/
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	white-space: nowrap;
}
.srd-diagram .srd-default-node__title > * {
	align-self: center;
}
.srd-diagram .srd-default-node__title .fa {
	padding: 5px;
	opacity: 0.2;
	cursor: pointer;
}
.srd-diagram .srd-default-node__title .fa:hover {
	opacity: 1.0;
}
.srd-diagram .srd-default-node__title .name {
	flex-grow: 1;
	padding: 5px 5px;
}
.srd-diagram .srd-default-node__ports {
	display: flex;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}
.srd-diagram .srd-default-node__ports .srd-default-node__in{
	left: 0;
	padding-right: 100px
}
.srd-diagram .srd-default-node__ports .srd-default-node__in,
.srd-diagram .srd-default-node__ports .srd-default-node__out {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.srd-diagram .srd-default-node__ports .srd-default-port--in,
.srd-diagram .srd-default-node__ports .srd-default-port--out {
	display: flex;
	margin-top: 1px;
}
.srd-diagram .srd-default-node__ports .srd-default-port--in > *,
.srd-diagram .srd-default-node__ports .srd-default-port--out > * {
	align-self: center;
}
.srd-diagram .srd-default-node__ports .srd-default-port--in .name,
.srd-diagram .srd-default-node__ports .srd-default-port--out .name {
	padding: 0 5px;
}
.srd-diagram .srd-default-node__ports .srd-default-port--out {
	justify-content: flex-end;
}
.srd-diagram .srd-default-node__ports .srd-default-port--out .name {
	justify-content: flex-end;
	text-align: right;
}
.tray {
	min-width: 200px;
	flex-grow: 0;
	flex-shrink: 0;
}

.tray-item {
	color: black;
	font-family: Helvetica, Arial;
	padding: 5px;
	margin: 0px 10px;
	border: solid 2px;
	border-radius: 5px;
	margin-bottom: 2px;
	cursor: pointer;
}