
.logo {
    height : 64px;
    position: relative;
    overflow: hidden;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
}

.sider {
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    position: relative;
    z-index : 10;
}

